services:
  db:
    image: mongo:8.2
    restart: always
    volumes:
      - ./data/runtime/db:/data/db
      - ./data/dump:/dump
    command: mongod --replSet rs0 --oplogSize 128
  rocketchat:
    image: rocket.chat:8
    expose:
      - 3000
    environment:
      - MONGO_OPLOG_URL=mongodb://db:27017/local
      - VIRTUAL_HOST=${VIRTUAL_HOST}
      - LETSENCRYPT_HOST=${LETSENCRYPT_HOST}
      - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}
    networks:
      - default
      - reverse-proxy
    restart: always
    depends_on: 
      - db
networks:
  reverse-proxy:
    external:
      name: reverse-proxy
